--extra-index-url https://download.pytorch.org/whl/cu121

cellpose==1.0.2
numpy==1.26.4
pandas==2.3.3
scikit-image==0.24.0
scipy==1.13.1
matplotlib==3.9.4
opencv-python-headless==4.10.0.84
tifffile==2024.8.30
Pillow==11.3.0
ImageIO==2.37.2
fastremap==1.19.0
tqdm==4.67.3
SimpleITK
timm==1.0.29
